
<div class="chat-message d-flex">
  <div class="image-wrapper" [routerLink]="'/profile/' + message.sender.id">
      <img [src]="message.sender.photoUrl" class="rounded-circle"> <!-- mogu iskoristiti za inicijale plugin od djoge  -->
  </div>
   <div class="bubble d-flex flex-column">
     <div class="name" [routerLink]="'/profile/' + message.sender.id" >
      <span>{{message.sender.firstName}} {{message.sender.lastName}}</span>
     </div>
     <small class="timestamp"> {{message}} </small>
     <div class="message">
      {{message.message}}
    </div>
   </div>
</div>